
<table>
    <th>Registration</th>
    <tr>
        <td>Username :</td>
        <td><input type="text" ng-model="loginAndHome.signup.userName"> </td>
    </tr>
    <tr>
        <td>password :</td>
        <td><input type="text" ng-model="loginAndHome.signup.password"> </td>
    </tr>
    <tr>
        <td> <input type="submit" value="Sign Up" ng-click="loginAndHome.signUp()"> </td>
    </tr>
</table>
<br>
<br>
<br>
<table>
    <th>Login</th>
    <tr>
        <td>Username :</td>
        <td><input type="text" ng-model="loginAndHome.userLogin.userName"> </td>
    </tr>
    <tr>
        <td>password :</td>
        <td><input type="text" ng-model="loginAndHome.userLogin.password"> </td>
    </tr>
    <tr>
        <td> <input type="submit" value="Login" ng-click="loginAndHome.login()"> <input type="reset" ng-click="loginAndHome.reset()"></td>
    </tr>
</table>

<!-- <a ui-sref="home">login</a> -->